.tabpanel-iframe[hidden] {
  opacity: 0;
  display: block !important;
  pointer-events: none;
}

.tabpanel-iframe {
  position: absolute;
  z-index: -1;
  overflow-y: scroll;
}

#frameTabs {
  line-height: 0.75;
}

#headerToggle {
  background: #0c739a;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -30px;
  right: 0px;
  cursor: pointer;
  font-size: 22px;
}

#flexHeader {
  margin-top: -72px;
  transition: 400ms ease-in-out margin-top;
}

#flexHeader.visible {
  margin-top: 0px;
}